<head>
      <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Watch This Space Improv</title>
    <meta name="description" content="Watch This Space Improv" />
    <!--Keywords -->
    <meta name="keywords" content="modern, creative, website, html5, bootstrap responsive, parallax, soft, front-end, designer, coming soon, account, portfolio, photographer, grid, social, modules, design, personal, faq, one page, multi-purpose, branding, studio, agency, templates, css3, carousel, slider, corporate, theme, quadra, demos, blog, shop" />
    <meta name="author" content="GoldEyes" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <!--Favicon -->
  <link rel="icon" type="image/png" href="images/favicon.png" />
    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png"/>
    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/plugins.css"/>
    <!-- Main Styles -->
    <link rel="stylesheet" href="/css/theme.css"/>
  <!-- Page Styles -->
  <link rel="stylesheet" href="/showcase/css/showcase.css" />


  <link rel="stylesheet" href="/css/custom.css" />
</head>

  <!-- End Page Styles -->
