<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

{{partial "shared/head.html"}}

<!-- BODY START -->
<body>

{{partial "home/loader.html"}}

{{partial "shared/nav.html"}}

    <!-- SECTION - you can add t-center class for centered texts and t-right for aligned right. -->
    <section id="home" class="section">
        <!-- Parallax Background -->
        <div class="bg-parallax skrollr" data-anchor-target="#home" data-0="transform:translate3d(0, 0px, 0px);" data-1000="transform:translate3d(0px, 250px, 0px);" data-background="/images/homebg.jpg"></div>
        <!-- Container -->
        <div class="showcase_container click-effect">
            <div class="section-texts">
                <a href="#section2" class="text-link">
                    <!-- Texts -->
                    <h3 class="subtitle animated fast" data-animation="fadeInUp" data-animation-delay="300">IMPROV IN BARCELONA</h3><br>
                    <h1 class="title animated fast lemonmilk" data-animation="fadeInUp" data-animation-delay="400">Watch</h1><br>
                    <h1 class="title animated fast lemonmilk" data-animation="fadeInUp" data-animation-delay="400">This</h1><br>
                    <h1 class="title animated fast lemonmilk" data-animation="fadeInUp" data-animation-delay="400">space</h1><br>
                    <h4 class="striped-subtitle playfair bold italic animated fast trashhand" data-animation="fadeInUp" data-animation-delay="700">Follow the fun!</h4>
                </a>
            </div>
        </div>
    </section>
    <!-- END SECTION -->
    <section id="section2" class="section about">
        <div class="showcase_container click-effect clearfix">
            <!-- Row for cols -->
            <div class="row">
                <div class="col-md-6 col-sm-12 left-content bg-soft bg-soft-gradient-red bg-cover skrollr bg-repeat" data-0="background-position:-1050px 0%;" data-end="background-position:0 0%;" data-background="/images/zangamanga.jpg">
                    <div class="section-texts col-md-6">
                        <a href="#section3" class="text-link">
                            <!-- Texts -->
                            <h3 class="subtitle playfair italic trashhand">Improv JAM & a Show</h3><br>
                            <h1 class="title lemonmilk">JAM</h1><br>
                        </a>
                                                    <p>12/06/2019</p>
                            <p style="width:100%">The first half is always an improv jam, 
                            where we encourage people to join us on stage 
                        to try out funny improvised comedy games - but don't worry, there's no pressure, you can also come to watch everyone else be funny!</p>

                    </div>
                </div>
                <div class="col-md-6 col-sm-12 left-content bg-soft bg-soft-gradient-red bg-cover skrollr bg-repeat" data-0="background-position:-1050px 0%;" data-end="background-position:0 0%;" data-background="/images/showcase.jpg">
                    <div class="section-texts  col-md-6">
                        <a href="#section3" class="text-link">
                            <!-- Texts -->
                            <h3 class="subtitle playfair italic trashhand">our favorite Barcelona based improv in english</h3><br>
                            <h1 class="title lemonmilk">SHOWCASE</h1><br>
                            <p>12/06/2019</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- SECTION - you can add t-center class for centered texts and t-right for aligned right. -->
    <section id="section2" class="section about">
        <!-- Container -->
        <div class="showcase_container click-effect clearfix">
            <!-- Row for cols -->
            <div class="row">
                <!-- Left Large Content -->
                <div class="col-md-8 col-sm-12 left-content bg-soft bg-soft-gradient-red bg-cover skrollr bg-repeat" data-0="background-position:-1050px 0%;" data-end="background-position:0 0%;" data-background="/images/zangamanga.jpg">
                    <div class="section-texts">
                        <a href="#section3" class="text-link">
                            <!-- Texts -->
                            <h3 class="subtitle playfair italic trashhand">Pun friday!</h3><br>
                            <h1 class="title lemonmilk">Sex with me is like... </h1><br>
                            <p>Contribute!</p>
                        </a>
                    </div>
                </div>
                <!-- Right Litle Contents -->
                <div class="col-md-4 col-sm-12 right-contents">
                    <!-- Content -->
                    <div class="content scrollbar-styled">
                        <h2 class="uppercase gray9 anton">Follow the fun!</h2>
                        <div class="title-strips-over dark"></div>
                        <p class="paragraph gray6">
                            Watch This Space Improv is an English language theatre community based in Barcelona that -  Follows the Fun!
                            </p><p class="paragraph gray6">
                            We offer improvisation opportunities every week for groups or individuals to get out there on stage! We welcome anyone who wants to have a laugh in English to come and watch and/or participate in hilarious comedy games with us.
                            </p><p class="paragraph gray6">
                            Our events are mostly in English, but our Thursday nights at Bar De Retro in Gracia, Barcelona are also open to Spanish, Catalan or Spanglish acts and entertainment.
                        </p>
                    </div>
                    <!-- Content -->
                    <div class="content scrollbar-styled">
                        <h2 class="uppercase gray9 anton">The Elves</h2>
                        <div class="title-strips-over dark"></div>
                        <p class="paragraph gray6">
                            Watch This Space Improv is an English language theatre community based in Barcelona that -  Follows the Fun!
                            </p><p class="paragraph gray6">
                            We offer improvisation opportunities every week for groups or individuals to get out there on stage! We welcome anyone who wants to have a laugh in English to come and watch and/or participate in hilarious comedy games with us.
                            </p><p class="paragraph gray6">
                            Our events are mostly in English, but our Thursday nights at Bar De Retro in Gracia, Barcelona are also open to Spanish, Catalan or Spanglish acts and entertainment.
                        </p>
                    </div>
                </div>
                <!-- End Right Litle Contents -->
            </div>
            <!-- End Row for cols -->
        </div>
        <!-- End Container -->
    </section>
    <!-- END SECTION -->











    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <!-- MAIN SCRIPTS - Classic scripts for all theme -->
    <script src="/js/scripts.js"></script>
    <!-- PAGE OPTIONS - You can find special scripts for this version -->
    <script src="/showcase/js/plugins.js"></script>
    <!-- End JS Files -->



</body>
<!-- Body End -->
</html>
